.formf-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  .select {
    margin-top: 6px;
    width: 100%;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
  }

  .form {
    margin-top: 2em;
    display: grid;
    width: 50%;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "item1 item1 item2 item2"
      "item3 item3 item4 item4"
      "item5 item5 item5 item5"
      "item6 item6 item6 item6"
      "item7 item7 item7 item7"
      ". item8 item9 .";
    gap: 20px;

    .item1 {
      grid-area: item1;
    }

    .item2 {
      grid-area: item2;
    }

    .item3 {
      grid-area: item3;
    }

    .item4 {
      grid-area: item4;
    }

    .item5 {
      grid-area: item5;
    }

    .item6 {
      grid-area: item6;
    }

    .item7 {
      grid-area: item7;
    }

    .item8 {
      grid-area: item8;
      width: 100%;
    }

    .item9 {
      grid-area: item9;
      margin-bottom: 20px;
    }
  }

  .formfile {
    display: grid;
    width: 50%;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "file1 file1 file1 file1"
    "file2 file2 file2 file2"
    "file3 file3 file3 file3"
    "file4 file4 file4 file4"
    ". file5 file6 file6";

    align-items: center;
    gap: 20px;

    .file1 {
      grid-area: file1;
    }

    .file2 {
      grid-area: file2;
    }

    .file3 {
      grid-area: file3;
    }

    .file4 {
      grid-area: file4;
    }

    .file5 {
      grid-area: file5;
    }

    .file6 {
      grid-area: file6;
    }
    .x {
      display: none;
    }
  }
}

.formf-group {

  label {
    font-size: 20px;
  }

  .btn {
    background: #00aaee;
    color: #f3f3f3;
  }

  .btn:hover {
    background: #3474dbb2;
  }

  input {
    margin-top: 6px;
    width: 100%;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;

    &:hover {
      //background-color: #ffffff;
      //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
  }
}