
.footer {
    background-color: #00aaee;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-around; /* max. horizontal space between them */
    height: 50px;

    p {
        font-size: 30px;
    }

}