@import "./variables";

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap: 15px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 19px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
}

.container__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__modal {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    min-width: 2.5rem;
    border-color: rgba(255, 255, 255, 0.16);
    overflow-wrap: break-word;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 18px;
    border-radius: 12px;
    font-weight: 700;
    transition: all 200ms ease-out;
    padding: 12px 20px;
    font-size: 1rem;
    color: $text-dark;
    background-color: $primary-color;

    &:hover {
        cursor: pointer;
    }
}